$primaryTextColor:#000;
$secondaryTextColor: #FFF;

$accentColor_tomato-light: #F16A50;

$borderColor:#E4E4E4;

$primaryBgColor: #FFF;


$transitionFunc: 0.5s ease;

$primaryFontFam: 'Montserrat', sans-serif;
