    
    $primary-text-color: #000000;
    
    $color-text-accent:#0d6efd;;

    $color-accent: #0d6efd;;

    $modal-text-color:#8C8C8C;

    $header-text-color:#FFFFFF;

    $footer-text-color: #545454;

    $bacground-color: #E5E5E5; 

    $background-hover-btn: #F7F7F7;

