body {
  margin: 0;
  font-family: 'Roboto', sans-serif;;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #0d0d0d;
  background: #FCFCFC;
}
.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}